<p id="notice"><%= notice %></p>
<% @posts.each do |post| %>
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card hoverable">
        <div class="card-image">
          <%= link_to post do %> 
            <%= image_tag post.avatar.url %>
            <span class="card-title"><%= post.title %></span>
          <% end %>
        </div>
        <div class="card-content">
          <%= post.desc %>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s1">
              <a href="#" class="btn-floating red"><i class="material-icons">favorite</i></a>
            </div>
            <div class="col s4 push-s7">
              <div class="row">
                <div class="col s4">
                  <%= link_to post, class: "btn-floating yellow darken-1" do %>
                    <i class="material-icons">format_quote</i>
                  <% end -%>
                </div>
                <div class="col s4">
                  <%= link_to edit_post_path(post), class: "btn-floating green" do %>
                    <i class="material-icons">publish</i>
                  <% end %>
                </div>
                <div class="col s4">
                  <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-floating blue" do %>
                    <i class="material-icons">attach_file</i>
                  <% end %>
                </div>                    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!--h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Title</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.avatar.url(:thumb) %></td>
        <td><%= post.title %></td>
        <td><%= post.desc %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table-->

<br>

<%= link_to 'New Post', new_post_path %>
